.checklist-titulo {
    width: 100%;
    height: 10%;
    border-bottom: solid .3px;
    border-color: var(--azul-claro);
}

.checklistAr-content {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: start;
    max-height: 40vh;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.checklistAr-content::-webkit-scrollbar {
    width: 5px;
}

.checklistAr-content::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}

.item-checklist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
    color: var(--azul);
    font-size: 14px;
    height: 100%;
}

.item-checklist p {
    font-size: 12px;
}

.item-checklist span {
    margin-left: 5px;
}

.checklist-seguirLink {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-right: 3%;
    box-sizing: border-box;
    width: 100%;
    height: 6vh;
    color: var(--azul-claro);
    font-size: 25px;
}

.link-checklist {
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.link-checklist:visited {
    text-decoration: none;
    outline: none;
    color: inherit;
}



