.area-tituloChecklist {
    display: flex;
    align-items: end;
    margin-left: 2%;
    height: 5%;
    color: var(--azul-claro);
}

.content-checklist {
    display: flex;
    height: 100%;
}

.area-checklist {  
    width: 75%;
    padding: 2%;
    box-sizing: border-box;
}

.checklist {
    height: 100%;
    background-color: var(--branco);
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    padding: 2%;
    box-sizing: border-box;
}

.itens-checklist {
    width: 100%;
}

.itens-checklist th {
    border-bottom: solid 1px
}

.itens-checklist th, 
.itens-checklist td{
    height: 40px;
}

.area-checklistInfo {
    width: 25%;
}

.area-totalizadoresChecklist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45%;
    padding-top: 4%;
    box-sizing: border-box;
}

.area-totalGastoChecklist {
    display: flex;
    height: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--azul-escuro2);
}

.area-totalGastoChecklist .area-IconTotalizadoresChecklist {
    height: 100%;
    width: 20%;
    border-radius: 20px 0 0 20px;
    background-color: var(--azul-escuro1);
}

.area-valorPendenteChecklist {
    display: flex;
    height: 40%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--vermelho-escuro2);
}

.area-valorPendenteChecklist .area-IconTotalizadoresChecklist {
    height: 100%;
    width: 20%;
    border-radius: 20px 0 0 20px;
    background-color: var(--vermelho-escuro1);
}

.area-novoItemChecklist {
    height: 50%;    
}

.area-addItemChecklist {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
    background-color: var(--branco);
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.area-addItemChecklist h4 {
    margin-bottom: 3vh;
    border-bottom: solid 1px;
}

.area-addItemChecklist .form-addItem {
    display: flex;
    flex-direction: column;

}

.area-addItemChecklist .area-valorDia {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.area-addItemChecklist .area-valorDia .area-valor, 
.area-addItemChecklist .area-valorDia .area-dia {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.area-addItemChecklist .area-nomeNovoItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.form-addItem input {
    height: 30px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    background-color: var(--cinza-claro);
    border-radius: 7px;
    border: none;
}

.form-addItem input[type=number]::-webkit-inner-spin-button, 
.form-addItem input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button#btn-addNovoItemChecklist {
    height: 30px;
    margin-top: 4%;
    border-radius: 7px;
    background-color: var(--azul);
    color: var(--branco);
    cursor: pointer;
    opacity: 1;
}

button#btn-addNovoItemChecklist:hover {
    opacity: .9
}

button#btn-addNovoItemChecklist:active {
    transform: scale(0.95);
}
