.container-graficoObjetivo {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.container-graficoObjetivo h4 {
    margin: 10px auto;
}

.container-graficoObjetivo .area-graficoRadial {
    flex: 1;
    height: 80%;
}

.container-graficoObjetivo .area-graficoRadial p {
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    vertical-align: center;
    text-align: center;
}