@import url('../../assets/paleta.css');

.page-login{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.page-login .area-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    width: 30vw;
    background-color: var(--azul);

}

.page-login .img-logo {
    height: 60.47px;
    width: 60.15px;
}

.page-login .text-nomeAplicativo {
    color: var(--branco);
}

.page-login .text-slogan {
    color: var(--branco);
    text-wrap: wrap;
    text-align: center;
}

.area-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza-claro);
    width: 70vw;
}

.area-login .area-header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 10vh;
    width: 100%;
}

.area-login .area-header .text-possuiConta {
    margin-right: 2vw;
    color: var(--azul);
}

.area-login .area-header .btn-cadastrar {
    margin-right: 2vw;
}


.area-login .area-infoLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.area-login .area-infoLogin .text-tituloLogin {
    margin-bottom: 10vh;
    color: var(--azul);
}

.area-login .area-infoLogin input#input-email {
    margin-bottom: 4vh;
}

.area-login .area-infoLogin input {
    margin-bottom: 1vh;
    background-color: var(--branco);
    border: none;
    height: 6vh;
    border-radius: 20px;
}

.area-login .area-infoLogin .text-esqueciSenha {
    font-size: 15px;
    margin-right: 13px;
}

.area-login .area-infoLogin .text-esqueciSenha {
    text-align: end;
    color: var(--azul);
    margin-bottom: 4vh;
}

.area-login .area-infoLogin .btn-acessar {
    background-color: var(--azul);
    color: var(--branco);
    height: 7vh;
    border: none;
    border-radius: 20px;
}

.page-login .area-footer {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 10vh;
    width: 70vw;
}
