.area-tituloMovimentacoes {
    display: flex;
    align-items: end;
    margin-left: 2%;
    height: 5%;
    color: var(--azul-claro);
}

.content-movimentacoes {
    display: flex;
    height: 100%;
}

.area-movimentos {
    width: 70%;
    padding: 2%;
    box-sizing: border-box;
}

.area-filtrosMovimentos {
    display: flex;
    height: 10%;
}

.area-botoesFiltrosMovimentos {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60%;
    height: 100%;
}

.area-botoesFiltrosMovimentos button {
    height: 25px;
    width: 75px;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    opacity: 1;
    background-color: #D0D0D0;
}

.area-botoesFiltrosMovimentos button#btn-filtroLancFuturos {
    margin-left: 30px;
    width: 150px;
}

.area-botoesFiltrosMovimentos button:hover {
    opacity: .9
}

.area-botoesFiltrosMovimentos button:active {
    transform: scale(0.95);
}


.area-botoesFiltrosMovimentos button.active {
    background-color: #ADABAB;  
}

.area-botoesFiltrosData {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
    height: 100%;
}

.area-botoesFiltrosData input {
    width: 150px;
    height: 30px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
}

.area-botoesFiltrosData p {
    margin: 0 10px 0 10px;
}

.movimentos {
    height: 90%;
    border-radius: 20px;
    background-color: var(--branco);
}

.itensMovimento {
    width: 100%;
}

.itensMovimento th {
    position: sticky;
    top: 0;
    background-color: var(--branco);
    border-bottom: solid 1px;
}

.itensMovimento th{
    height: 40px;
}

.scrollable-tbody input {
    cursor: pointer;
}

.area-tabelaMovimentos {
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow-y: auto;
    height: 100%;
    background-color: var(--branco);
    border-radius: 20px;
    padding: 0 2% 0 2%;
    box-sizing: border-box;
    position: relative;
}

.area-tabelaMovimentos::-webkit-scrollbar {
    width: 15px;
    border-radius: 0 20px 20px 0;
    background-color: var(--branco);
}

.area-tabelaMovimentos::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 20px;
}

.area-tabelaMovimento {
    height: 60px;
}

.area-tabelaMovimento td {
    vertical-align: top;
}

.area-tabelaMovimento .area-etapasExtrato {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

.area-tabelaMovimento .area-etapasExtrato .checkpoint {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--amarelo);
    color: var(--amarelo);
}

.area-tabelaMovimento .area-etapasExtrato .route {
    height: 40px;
    width: 6px;
    background-color: var(--preto);
    color: var(--preto);
}

.area-tabelaMovimento .area-action {
    display: flex;
    justify-content: space-around;
}

.area-tabelaMovimento #action-edit {
    color: var(--azul-claro);
    cursor: pointer;
}

.area-tabelaMovimento #action-delete {
    color: var(--vermelho-escuro2);
    cursor: pointer;
}

.area-tabelaMovimento .area-valor {
    font-weight: 500;
    text-align: end;
}

.area-tabelaMovimento .area-valor.receita {
    color: #0FBA00;
}

.area-tabelaMovimento .area-valor.despesa {
    color: var(--vermelho-escuro2);
}

.area-movimentosRelatorios {
    width: 30%;
}

.itens-checklist .mdTags-tag {
    cursor: default;
}

.itens-checklist .mdTags-tag span {
    border: none;
}

.itens-checklist .mdTags-tag:hover {
    background-color: var(--branco);
}

.area-graficoReceitasDespesas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 20%;
    height: 40%;
    background-color: var(--branco);
}

.area-tituloGrafico {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background-color: #D0D0D0;
}

.area-grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.area-graficoTags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 3%;
    height: 40%;
    background-color: var(--branco);
}
