.container-objetivoEmpty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 100%;
}

.container-objetivoEmpty p{
    color: var(--cinza-escuro);
    font-size: 30px;
    margin-bottom: 50px;
}

.container-objetivoEmpty #btn-cadastroObjetivo {
    width: 200px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    background-color: var(--amarelo);
    color: var(--branco);
    border: none;
    cursor: pointer;
    opacity: 1;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.container-objetivoEmpty #btn-cadastroObjetivo:hover {
    opacity: .9
}

.container-objetivoEmpty #btn-cadastroObjetivo:active {
    transform: scale(0.95);
}