.area-tituloRelatorios {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-left: 2%;
    padding-right: 3.5%;
    height: 8%;
    color: var(--azul-claro);
}

.area-tipoVisualizacao {
    display: flex;
    justify-content: end;
    width: 10%;
}

.area-tipoVisualizacao button {
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-left: 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
    border: none;
    opacity: 1;
}

.area-tipoVisualizacao button.active {
    background-color: var(--cinza-escuro1);
}

.area-tipoVisualizacao button:hover {
    opacity: .7;
}


.area-tipoVisualizacao button:active {
    transform: scale(0.9);
}

.content-relatorios {
    display: flex;
    flex-direction: column;
    height: 92%;
    padding: 1.5% 1.5% 0 1.5%;
    box-sizing: border-box;
}

