@import url('../../assets/paleta.css');

.page-signin{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.page-signin .area-apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    background-color: var(--azul);
}

.page-signin .area-apresentacao .area-marca {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: end;
}

.page-signin .img-logo {
    height: 60.47px;
    width: 60.15px;
    margin-bottom: 5vh;
}

.page-signin .text-nomeAplicativo {
    color: var(--branco);
    font-size: 25px;
}

.page-signin .area-apresentacao .area-infoMarca {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 23% 0 23%;
    height: 50%;
    justify-content: end;
}

.page-signin .text-slogan {
    color: var(--branco);
    text-wrap: wrap;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10vh;
}

.area-signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cinza-claro);
    width: 70vw;
}

.area-signin .area-header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 10vh;
    width: 100%;
}

.area-signin .area-header .text-possuiConta {
    margin-right: 2vw;
    color: var(--azul);
}

.area-signin .area-header .btn-logar {
    margin-right: 2vw;
    background: none;
    height: 35px;
    width: 8vw;
    border: solid 2px;
    border-color: var(--azul);
    border-radius: 10px;
    color: var(--azul);
    cursor: pointer;
    transition: border-color 1s;
}

.area-signin .area-header .btn-logar:hover {
    border-color: rgba(var(--azul), 0.9);
}

.area-signin .area-header .btn-logar:active {
    transform: scale(0.95);
}

.area-signin .area-infoSignin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.area-signin .area-infoSignin .text-tituloSignin {
    margin-bottom: 10vh;
    color: var(--azul);
}

.area-signin .area-infoSignin input {
    margin-bottom: 4vh;
    background-color: var(--branco);
    border: none;
    height: 35px;
    border-radius: 20px;
    padding: 2px 1.5vw 2px 1.5vw;
}

.area-signin .area-infoSignin input.erro {
    border: 2px solid red;
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(5px); }
}

.area-signin .area-infoSignin input::placeholder {
    margin-left: 5vw;
    color: #ADABAB;
}

.area-signin .area-infoSignin .text-esqueciSenha {
    text-align: end;
    font-size: 12px;
    color: var(--azul);
    margin: 0 13px 4vh 0;
    cursor: pointer;
    opacity: 1;
}

.area-signin .area-infoSignin .text-esqueciSenha:hover {
    opacity: .9
}

.area-signin .area-infoSignin .btn-cadastrar {
    background-color: var(--azul);
    color: var(--branco);
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: 1
}

.area-signin .area-infoSignin .btn-cadastrar:hover {
    opacity: .9
}

.area-signin .area-infoSignin .btn-cadastrar:active {
    transform: scale(0.95);
}

.area-signin .area-infoSignin .area-manterConectado {
    display: flex;
    align-items: center;
    color: var(--azul);
}

.area-signin .area-infoSignin .area-manterConectado input {
    margin-left: 1vw;
}

.area-signin .area-infoSignin label {
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
    opacity: 1;
}

.area-signin .area-infoSignin label:hover {
    opacity: .9
}

.page-signin .area-footer {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 10vh;
    width: 70vw;
    font-size: 15px;
    color: var(--azul);
    opacity: 1;
    cursor: pointer;
}

.page-signin .area-footer:hover {
    opacity: .9;
}

#logo-signin {
    display: none;
}

@media screen and (max-width: 480px) {
    .page-signin {
        display: flex;
        flex-direction: row;
    }

    .page-signin .area-apresentacao {
        display: none;
    }

    .area-signin {
        display: flex;
        width: 100vw;
    }

    .area-signin .area-headerSingin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-signin .area-footer {
        width: 90vw;
        font-size: 12px;
    }

    .area-signin .area-header .btn-logar {
        width: 25vw;
        height: 5.2vh;
    }

    .area-signin .area-header .text-possuiConta {
        font-size: 14px;
    }

    #logo-signin {
        display: block;
    }
}