:root {
    --preto: hwb(0 0% 100%);
    --azul: #14213D;
    --azul-escuro1: #34508C;
    --azul-escuro2: #355AA8;
    --azul-claro: #1758e2;
    --amarelo: #FCA311;
    --vermelho-escuro1: #9B2626;
    --vermelho-escuro2: #C33131;
    --cinza-escuro: #838383;
    --cinza-escuro1: #D0D0D0;
    --cinza-claro: #E5E5E5;
    --branco: #FFFFFF;
}